<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leaflet Map Component</title>
    <link rel="import" href="imports.html">
  </head>
  <body>
    <leaflet-map lat="52.520" lng="13.404" zoom="15" zoomControl>
      <tile-layer url="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"></tile-layer>
      <leaflet-marker lat="52.522" lng="13.405">
        Leaflet is designed with simplicity, performance and usability in mind.
      </leaflet-marker>
    </leaflet-map>
    <script type="application/dart">export 'package:polymer/init.dart';</script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
